.App {
  text-align: center;
}

.App-header {
  height: 60px;
  padding: 20px;
  background-color: #05344c;
}

.title {
  margin: 10px 0 0 0;
  letter-spacing: 0.05em;
  color: #dbb330;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
}

footer {
  height: 40px;
  color: #dbb330;
  background-color: #05344c;
}

h6 {
  margin: 0;
  padding: 0;
}

.footer-text {
  padding-top: 10px;
  letter-spacing: 0.1em;
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  font-weight: 300;
}
