.controls {
  background-color: #05344c;
}

.controls-container {
  display: flex;
  height: 55px;
}

.slogan {
  width: 85%;
  margin: 0 20px 10px 20px;
  padding: 0;
  color: #c5a12b;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}

.toggle-btn {
  width: 70px;
  width: 125px;
  height: 40px;
  margin: 0 18px 15px 0;
  padding-left: 38px;
  letter-spacing: 0.2em;
  border: none;
  outline: none;
  background-color: #dbb330;
  background-position: 12px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn-map {
  background-image: url('../../public/assets/map-1.svg');
}

.btn-list {
  background-image: url('../../public/assets/list-1.svg');
}
