.list {
  padding-bottom: 10px;
  background-color: #2f5366;
  background-color: #6b8b9b;
  font-family: 'Josefin Slab', serif;
}

.location {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
  padding-left: 20px;
  text-align: left;
  border: 2px solid #dbb330;
  background-color: #98b1bc;
  /*max-width: 900px;*/
}

.location-container {
  padding-bottom: 15px;
}

.location-header {
  padding: 25px 10px 15px 10px;
}

.location-name {
  font-family: 'Poiret One', cursive;
  margin-bottom: 10px;
}

.see-more-icon {
  height: 20px;
  margin: 10px;
  padding: 5px;
  border: 0.5px solid #dbb330;
  background-color: #6b8b9b;
}
