.map-area {
  position: relative;
  height: calc(100vh - 195px);
}

.current-location {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 10px;
  transition: all 0.2s ease;
  background-color: rgba(152, 177, 187, 0.85);
}

.current-location__content {
  text-align: left;
}

.current-location__name,
.current-location__address {
  margin: 0 5px;
}

.current-location.hidden {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.current-location__close,
.current-location__show-details {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
}

.current-location__close {
  z-index: 10;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('../../public/assets/close.svg');
  background-size: 25px;
}

.current-location__show-details {
  top: 50%;
  right: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  background-image: url('../../public/assets/right-arrow-dark.svg');
  background-size: 45px;
}
