.current-location {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #98b1bc;
  height: 85px;
  flex-grow: 1;
  overflow-y: hidden;
  transition: all .2s ease;
}

.current-location.hidden {
  height: 0;
}

.loc-details {
  margin: 5px;
  padding: 15px;
}

.loc-name {
  padding-top: 15px;
  margin: 0;
}

.loc-details {
  margin: 0;
}

.map-area {
  height: calc(100vh - 195px);
  position: relative;
}
